@import './assets/css/fonts.css';

body {
  font-family: 'CustomFont', sans-serif;
  margin: 10%;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, strong, b {
  font-size: 4rem;
}

.grading {
  font-size: 3rem;
}